<h2>工时填报历史</h2>
<%= form_with url: history_worklogs_path, method: :get, local: true do %>
  <label>项目：</label>
  <%= select_tag :project_id, options_from_collection_for_select(@projects, :id, :name, @q_project_id), include_blank: '全部' %>
  <label>日期区间：</label>
  <%= date_field_tag :date_from, @q_date_from %> - <%= date_field_tag :date_to, @q_date_to %>
  <%= submit_tag '筛选' %>
<% end %>

<table class="list" style="margin-top: 20px;">
  <thead>
    <tr>
      <th>日期</th>
      <th>项目</th>
      <th>关联问题</th>
      <th>工时（小时）</th>
      <th>备注</th>
    </tr>
  </thead>
  <tbody>
    <% @worklogs.each do |log| %>
      <tr>
        <td><%= log.date %></td>
        <td><%= log.project.try(:name) %></td>
        <td><%= log.issue ? link_to(log.issue.subject, issue_path(log.issue)) : '' %></td>
        <td><%= log.hours %></td>
        <td><%= log.remark %></td>
      </tr>
    <% end %>
    <% if @worklogs.empty? %>
      <tr><td colspan="5">暂无数据</td></tr>
    <% end %>
  </tbody>
</table> 